.Register {
	min-height: calc(100vh - 113px);
	background-color: var(--dark);
	margin: 20px 0;
	display: grid;
	place-items: center;
}

.RegisterContainer {
	width: 50vw;
	max-width: 600px;
	padding: 40px;
	text-align: center;
	background-color: var(--grey);
	border-radius: 15px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.RegisterContainer button {
  border: none;
  width: 100%;
  margin: 10px 0;
	border-radius: 40px;
	background-color: var(--purple);
	padding: 10px;
	font-size: 18px;
	color: var(--white);
	cursor: pointer;
	font-weight: bold;
	transition: all .3s;
}

.RegisterContainer button:hover {
	background-color: var(--white);
	color: var(--purple);
}

.RegisterContainer .RegisterRegisterButton {
    background-color: var(--input);
    color: var(--theme);
}

.RegisterContainer > form > h5 {
    margin: 5px;
    text-align: left;
}

.RegisterContainer > form > input {
	height: 30px;
  margin-bottom: 10px;
  padding: 5px;
	border: 0px;
	color: var(--light);
	background-color: var(--dark);
	width: calc(100% - 10px);
}

.RegisterContainer > p {
	margin-top: 15px;
	font-size: 12px;
}